{% extends 'base.html.twig' %}

{% block body %}
    <h1>Site list</h1>

    <table>
        <thead>
            <tr>
                <th>Sitename</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td><a href="{{ path('settings', { 'siteId': site.id }) }}">{{ site.siteName }}</a></td>
                <td>{{ site.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('site_edit', { 'id': site.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('site_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
