{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Site creation</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('site_index') }}">Back to the list</a>
            </li>
        </ul>
    </div>
{% endblock %}
