<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets filter="scssphp" output="css/app.css"
        "assets/sass/materialize.scss"
        "assets/sass/main.scss"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="container">
        {{ knp_menu_render('YmlBundle:YmlMenuBuilder:mainMenu', {'currentAsLink': false}) }}
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery/jquery-3.1.1.js') }}"></script>
            <script src="{{ asset('assets/js/bin/materialize.min.js') }}"></script>
            <script src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
