{% extends 'base.html.twig' %}

{% block body %}
    <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red">
            <i class="material-icons">menu</i>
        </a>
        <ul>
            <li><a class="btn-floating teal lighten-2" id="run"><i class="material-icons">play_arrow</i></a></li>
            <li><a class="btn-floating teal lighten-2" id="setting-post"><i class="material-icons">play_for_work</i></a></li>
        </ul>
    </div>
    <h1>Settings edit</h1>
    <div class="row">
        <div class="col s3">
            <ul class="tabs z-depth-1">
                <li class="tab"><a href="#shop">shop</a></li>
                <li class="tab"><a href="#fields">fields</a></li>
                <li class="tab"><a href="#crawler">crawler</a></li>
            </ul>
            {{ form_start(yml_type_form, {'attr': {'id': 'yml_type'}}) }}
                <div id="shop">
                    {{ form_row(yml_type_form.company) }}
                    <ul class="currencies" data-prototype="{{ form_widget(yml_type_form.currencies.vars.prototype)|e('html_attr') }}">
                        {{ form_row(yml_type_form.currencies) }}
                        {% for currency in yml_type_form.currencies %}
                            <li>{{ form_row(currency) }}</li>
                        {% endfor %}
                    </ul>
                    <ul class="categories" data-prototype="{{ form_widget(yml_type_form.categories.vars.prototype)|e('html_attr') }}">
                        {{ form_row(yml_type_form.categories) }}
                        {% for category in yml_type_form.categories %}
                            <li>{{ form_row(category) }}</li>
                        {% endfor %}
                    </ul>
                    <ul class="delivery-options" data-prototype="{{ form_widget(yml_type_form.delivery_options.vars.prototype)|e('html_attr') }}">
                        {{ form_row(yml_type_form.delivery_options) }}
                        {% for option in yml_type_form.delivery_options %}
                            <li>{{ form_row(option) }}</li>
                        {% endfor %}
                    </ul>
                    <ul class="optional_site_fields" data-prototype="{{ form_widget(yml_type_form.optional_site_fields.vars.prototype)|e('html_attr') }}">
                        {{ form_row(yml_type_form.optional_site_fields) }}
                        {% for optional_site_field in yml_type_form.optional_site_fields %}
                            <li>{{ form_row(optional_site_field) }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="fields">
                        {{ form_row(yml_type_form.nav_chain) }}
                        {{ form_row(yml_type_form.content_html) }}
                        {{ form_row(yml_type_form.type) }}
                    <div id="dinamically-fields-wrapper">
                        <div id="yml_type_field"></div>
                    </div>
                    <ul class="optional_type_fields" data-prototype="{{ form_widget(yml_type_form.optional_type_fields.vars.prototype)|e('html_attr') }}">
                        {{ form_row(yml_type_form.optional_type_fields) }}
                        {% for optional_type_field in yml_type_form.optional_type_fields %}
                            <li>{{ form_row(optional_type_field) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            <div id="crawler">
                {{ form_row(yml_type_form.base_url) }}
            </div>
            {{ form_end(yml_type_form) }}
            <div id="crawler"></div>
        </div>
        <div id="fields-data-json">
            {{ fieldDataJson }}
        </div>
        <div class="col s6">
            {{ form_start(crawled_site, {'attr': {'id': 'crawled_site'}}) }}
                {{ form_widget(crawled_site) }}
            <button class="col s4 offset-s4 btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">picture_in_picture</i>
            </button>
            {{ form_end(crawled_site) }}
            <div class="row">
                <div class="crawled-site"></div>
            </div>
            <div class="col s4 offset-s1"></div>
        </div>

        <div class="col s3"></div>
        {{ form_start(edit_form, {'attr': {'id': 'settings'}}) }}
            {{ form_widget(edit_form) }}
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
