{% extends 'base.html.twig' %}

{% block body %}
    <h1>Settings list</h1>

    <table>
        <thead>
            <tr>
                <th>Selector</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for setting in settings %}
            <tr>
                <td><a href="{{ path('settings', { 'id': setting.id }) }}">{{ setting.selector }}</a></td>
                <td>{{ setting.id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('settings_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
