{% extends 'base.html.twig' %}

{% block body %}
    <h1>Settings</h1>

    <table>
        <tbody>
            <tr>
                <th>Selector</th>
                <td>{{ setting.selector }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ setting.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('settings_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('settings_edit', { 'id': setting.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
